@orb-design-system:registry=https://nexus.elocloud.ninja/repository/npm-group/
email=example@example.com

//nexus.elocloud.ninja/repository/npm-private/:_authToken=_NEXUS_PRIVATE_TOKEN_
legacy-peer-deps=true
