@import url("https://p.typekit.net/p.css?s=1&k=wvf5kwu&ht=tk&f=1981.1984.2005.2007.2009.22618.22619&a=32411851&app=typekit&e=css");
@import url("https://use.typekit.net/mfg4ogz.css");

@font-face {
  font-family: 'Barlow';
  src: url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap') format('woff2');
  font-weight: 400;
}

:root {
  --background: #ffffff;
  --foreground: #033a34;
  --card: #ffffff;
  --card-foreground: 	#033a34;
  --popover: #ffffff;
  --popover-foreground: 	#033a34;
  --primary: 	#033a34;
  --primary-foreground: 	#ffffff;
  --secondary: #ffffff;
  --secondary-foreground: #033a34;
  --muted: 	#f4f4f5;
  --muted-foreground: #033a34;
  --accent: 	#E0E0E0;
  --accent-foreground: #033a34;
  --destructive: #ef4444;
  --destructive-foreground: 	#fafafa;
  --border: #e4e4e7;
  --input: #e4e4e7;
  --ring: 	#033a34;
  --radius: 1rem;
}

.dark {
  --background: 	#09090b;
  --foreground: 	#fafafa;
  --card: 	#09090b;
  --card-foreground: 	#fafafa;
  --popover: 	#09090b;
  --popover-foreground: 	#fafafa;
  --primary: 	#fafafa;
  --primary-foreground: 	#09090b;
  --secondary: #27272a;
  --secondary-foreground: 	#fafafa;
  --muted: #27272a;
  --muted-foreground: #a1a1aa;
  --accent: #27272a;
  --accent-foreground: 	#fafafa;
  --destructive: 	#7f1d1d;
  --destructive-foreground: 	#fafafa;
  --border: #27272a;
  --input: #27272a;
  --ring: 	#d4d4d8;
}
* {
  @apply font-barlow;
  color: var(--primary-foreground);
}

.font-clamp {
  font-size: 10px
}