@import url("https://p.typekit.net/p.css?s=1&k=wvf5kwu&ht=tk&f=1981.1984.2005.2007.2009.22618.22619&a=32411851&app=typekit&e=css");
@import url("https://use.typekit.net/mfg4ogz.css");


@font-face {
  font-family: 'Barlow';
  src: url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap') format('woff2');
  font-weight: 500;
}

@font-face {
  font-family: 'Barlow';
  src: url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700&display=swap') format('woff2');
  font-weight: 600
}

@font-face {
  font-family: 'Barlow';
  src: url('https://fonts.googleapis.com/css2?family=Barlow:wght@400;500;600;700;800;900&display=swap') format('woff2');
  font-weight: 800;
}


:root {
  --background: #ffffff;
  --foreground: #003933;

  --card: #ffffff;
  --card-foreground: 	#003933;

  --popover: #ffffff;
  --popover-foreground: 	#003933;

  --primary: 	#003933;
  --primary-hover: #44766E;
  --primary-foreground: 	#ffffff;

  --secondary: #ffffff;
  --secondary-hover: #F5F5F5;
  --secondary-foreground: #003933;

  --muted: 	#f4f4f5;
  --muted-foreground: #003933;

  --accent: 	#E0E0E0;
  --accent-foreground: #003933;

  --destructive: #E7422D;
  --destructive-hover: #ED7767;
  --destructive-foreground: 	#fafafa;

  --border: #E0E0E0;
  
  --input: #e4e4e7;
  --ring: 	#003933;
  --radius: 2rem;
}

.dark {
  --background: 	#003933;
  --foreground: 	#ffffff;

  --card: 	#003933;
  --card-foreground: 	#fafafa;
  --popover: 	#003933;
  --popover-foreground: 	#033a34;

  --primary: 	#fafafa;
  --primary-hover: #fafafa;
  --primary-foreground: #033a34;

  --secondary: #033a34;
  --secondary-hover: #033a34;
  --secondary-foreground: 	#fafafa;

  --muted: #033a34;
  --muted-foreground: #ffffff;

  --accent: #033a34;
  --accent-foreground: 	#fafafa;

  --destructive: 	#E7422D;
  --destructive-hover: #E7422D;
  --destructive-foreground: 	#fafafa;

  --border: #ffffff;
  --input: #ffffff;
  --ring: #ffffff;
}

.font-clamp {
  font-size: 10px
}